{% load static %}
<body>
<header>
    <nav>
        <a class="logo" href="index.html">Abebe Bekila</a>
        <ul class="nav-list">
            <li><a href="{% url 'login' %}">Cadastro</a></li>
            <li><a href="{% url 'cadastro' %}">Login</a></li>
            <li><a href="{% url 'home' %}">Início</a></li>
            <li><a href="#Curiosadades">Curiosidades</a></li>
            <li><a href="#Direitos">Direitos</a></li>
            <li><a href="{% url 'discografia' %}">Discografia</a></li>
        </ul>
    </nav>
</header>